openapi: 3.0.0
info:
  contact:
    name: Yuriy Gorelov
    email: gur-ok@yandex.ru
  title: Сервис управления Профилем
  version: 0.1.0
servers:
  - url: http://arch.homework:30001
    description: Kubernetes cluster
paths:
  /profiles:
    post:
      tags:
        - profile-controller
      summary: Создать профиль пользователя
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                type: string
                format: uuid
  /profiles/{id}:
    get:
      tags:
        - profile-controller
      summary: Получить данные профиль пользователя (с валидацией профиля в токене)
      operationId: read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: x-jwt-token
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProfileResponse'
    patch:
      tags:
        - profile-controller
      summary: Обновить профиль пользователя
      operationId: update
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: x-jwt-token
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileRequest'
        required: true
      responses:
        '200':
          description: OK
  /profiles/info/{id}:
    get:
      tags:
        - profile-controller
      summary: Получить данные профиль пользователя (без валидации профиля в токене)
      operationId: getInfo
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProfileResponse'
  /health:
    get:
      tags:
        - health-check
      operationId: health
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Health'
components:
  schemas:
    ProfileRequest:
      required:
        - age
        - fullName
      type: object
      properties:
        fullName:
          type: string
        age:
          type: integer
          format: int32
        firstName:
          type: string
        lastName:
          type: string
        passportNumber:
          type: string
    ProfileResponse:
      type: object
      properties:
        email:
          type: string
        fullName:
          type: string
        age:
          type: integer
          format: int32
        firstName:
          type: string
        lastName:
          type: string
        passportNumber:
          type: string
    Health:
      type: object
      properties:
        status:
          type: string
          enum:
            - OK
            - DOWN
