openapi: 3.0.0
info:
  contact:
    name: Yuriy Gorelov
    email: gur-ok@yandex.ru
  title: Сервис Уведомлений
  version: 0.1.0
servers:
  - url: http://arch.homework:30001
    description: Kubernetes cluster
paths:
  /{id}:
    get:
      tags:
        - message-controller-impl
      summary: Получить сообщение по идентификатору
      operationId: read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetMessageResponse'
  /health:
    get:
      tags:
        - health-check
      operationId: health
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Health'
  /account/{accountId}:
    get:
      tags:
        - message-controller-impl
      summary: Получить сообщения по аккаунту
      operationId: findByAccountId
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetMessageResponse'
  /:
    get:
      tags:
        - message-controller-impl
      summary: Получить все сообщения
      operationId: getMessages
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetMessageResponse'
    delete:
      tags:
        - message-controller-impl
      summary: Удалить все сообщения
      operationId: clear
      responses:
        '200':
          description: OK
components:
  schemas:
    GetMessageResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        account:
          type: string
          format: uuid
        text:
          type: string
        event:
          type: string
          enum:
            - PAYMENT_FAIL
            - ORDER_PAID
            - DEPOSIT_ACCEPTED
            - BROKERAGE_NOTIFICATION
        created:
          type: string
          format: date-time
    Health:
      type: object
      properties:
        status:
          type: string
          enum:
            - OK
            - DOWN
